# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# misc
/junk
.DS_Store
.env*

*.log

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
