.menu {
    display: flex;
    padding: 10px;
    flex-direction: column;
}

.menu__title {
    text-align: center;
}

.menu__filter {
    flex-basis: 100px;
}

.menu__items {
    display: flex;
    flex-direction: column;
}

.menu__item {

}