.menu-item {
    display: flex;
}

.menu-item__name {
    flex-basis: 100px;
}

.menu-item__summary-wrapper {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.menu-item__summary {
    flex-grow: 1;
}

.menu-item__summary-list-line {
    display: flex;
}

.menu-item__summary-list-line:hover {
    cursor: pointer;
    background-color: gainsboro;
}

.menu-item__summary-list-time-label {
    flex-basis: 80px;
}

.menu-item__summary-list-label {
    flex-grow: 1;
}