.app {
    height: 100%;
    display: flex;
}

.app__map-wrapper {
    position: relative;
    flex: 1;
}

.app__map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

