.horizontal-loader {
  position: relative;
  height: 4px;
}

.horizontal-loader__pill {
  position: absolute;
  width: 10%;
  height: 100%;
  background-color: #6fcf97;
  animation: 1s linear 0s slide infinite;
}

@keyframes slide {
  from {
    left: 0;
  }
  to {
    left: 100%;
    width: 50%;
    transform: translateX(-100%);
  }
}
