.home {
  height: 100%;
  display: flex;
  position: relative;

  &__left {
    display: flex;
    flex-direction: column;
    flex-basis: 350px;
    max-width: 350px;
    height: 100%;
  }

  &__feed-wrapper {
    position: relative;
    flex: 1;
  }

  &__feed {
    overflow-y: scroll;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__map-wrapper {
    position: relative;
    flex: 1;
  }

  &__map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__loader {
    position: absolute;
    left: 0;
    right: 0;
  }
}
