.date-picker {
  display: flex;
  align-items: center;
  position: relative;

  &__button {
    flex-basis: 70px;

    &:hover {
      cursor: pointer;
    }
  }

  &__button-disabled {
    flex-basis: 70px;
  }

  &__date {
    flex-grow: 1;
    text-align: center;

    &:hover {
      cursor: pointer;
    }
  }

  &__date-disabled {
    flex-grow: 1;
    text-align: center;
    color: #7f7f7f;
  }

  &__calendar-wrapper {
    position: absolute;
    top: 40px;
    right: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
  }

  &__calendar {
    box-shadow: 2px 2px 12px;
    max-width: 300px !important;
    font-family: Roboto !important;
  }
}

.react-calendar__tile {
  font-family: Roboto;
}
