.feed-entry {
    display: flex;
    align-items: center;
    padding: 4px 10px;
}

.feed-entry:hover {
    cursor: pointer;
    background-color: gainsboro;
}

.feed-entry__logo {
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.feed-entry__logo > img {
    width: 100%;
}

.feed-entry__time-label {
    flex-basis: 75px;
    text-align: right;
}

.feed-entry__image {
    font-size: 22px;
    margin: 0 0 0 10px;
}

.feed-entry__label {
    flex-grow: 1;
    margin: 0 0 0 10px;
}