.side-bar {
    display: flex;
    flex-direction: column;
    background-color: #333333;
    min-width: 100px;
}

.side-bar__title {
    color: #6fcf97;
    flex-basis: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-bar__nav {
    padding: 20px 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.side-bar__nav-upper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.side-bar__link {
    min-height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.side-bar__link-icon {
    color: #6fcf97;
}

.side-bar__link-active-indicator {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 95px;
}

.side-bar__link-active .side-bar__link-active-indicator {
    background-color: #6fcf97;
}
