.button {
  $background-color: #f2f2f2;

  border: 0;
  border-radius: 4px;
  background-color: $background-color;
  height: 36px;
  min-width: 120px;
  color: #333333;
  font-size: 14px;
  padding: 0 15px;

  &:hover {
    cursor: pointer;
    background-color: darken($background-color, 5%);
  }
}
